body{
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: aliceblue;
}
.sathya{
    border: 2px;
    border-style: solid;
    width: 255px;
    height:635px;
    box-shadow: 05px 10px 10px 15px grey;
    border-color: transparent;
    margin-left: 60px;
    padding-left: 15px;
}
.sathya img{
    width:180px;
    margin-left: 50px;
    margin-left: 25px;
}
.sathya button{
    margin-left:50px;
    border-color:transparent;
    background-color: yellow;
}
.sathya button:hover{
    background-color: green;
}
.pooja{
    border: 2px;
    border-style: solid;
    width: 255px;
    height:635px;
    box-shadow: 05px 10px 10px 15px grey;
    border-color: transparent;
    margin-left: 430px;
    margin-top: -637px;
    padding-left: 15px;
}
.pooja img{
    width:230px;
    height: 220px;
    margin-left: 10px;
}
.pooja button{
    margin-left:50px;
    border-color:transparent;
    background-color: yellow;
}
.pooja button:hover{
    background-color: green;
}